[Unit]
Description=Jupyter Notebook

[Service]
Type=simple
ExecStart=/usr/bin/jupyter notebook --config=/home/vagrant/.jupyter/jupyter_notebook_config.py
User=vagrant
Group=vagrant
WorkingDirectory=/vagrant/code

[Install]
WantedBy=multi-user.target
